<div id="main" class="col-md-12" style="font-family: 'Raleway', sans-serif">
    <div id="CV" >

        <div class="heading resumeHeading">

            <h3>My Curriculum Vitae.</h3>
        </div>
        <h3><a href="assets/Resume.pdf" target="_blank"><button style="float: left"><img height="30px" width="30px" src="../../assets/images/icon/pdfIcon.png">Open PDF</button></a>
            <button ng-show="!showAccordion" ng-click="showAccordion=!showAccordion">&mdash; Hide all</button>
            <button ng-show="showAccordion" ng-click="showAccordion=!showAccordion">&#43; Show all</button></h3>



        <!--<object id="cv_object" data="assets/Resume.pdf" type="application/pdf" width="100%" height="1200px">-->
            <!--<iframe src="assets/Resume.pdf" width="100%" height="100%" style="border: none;">-->
                <!--This browser does not support PDFs. Please download the PDF to view it: <a href="assets/Resume.pdf">Download PDF</a>-->
            <!--</iframe>-->
        <!--</object>-->

        <div class="accordionContainer" ng-show="showAccordion">

            <h3 class="accordion" ng-class="{active:$scope.accordion==1}" ng-click="toggleAccordion(1)" >
                <img src="../../assets/images/icon/Book-52 (1).png">Education<i name="accordion1" class="pull-right glyphicon glyphicon-chevron-right" ></i>
            </h3>
            <div class="accordion-content" ng-show="accordion==1"><div class="new_post ">
                <section>
                    <h2>Bachelor of Engineering in Computer Science & Engineering </h2>
                    <p>Sri Venkateshwara College of Engineering,
                        <i>Visvesvaraya Technological University, India
                        </i></p>
                    <p>
                    <ul style="margin-left: 20px;">
                        <li>Core Subjects aggregate percentage: 74.69% (top 5 percentile)</li>
                        <li>Cumulative Aggregate percentage: 73.57%</li>
                    </ul>
                    </p>
                </section>
                <section>
                    <h2>Class XII, Central Board Of Secondary Education (CBSE), India	</h2>
                    <time>April 2010</time>
                    <p>Kendriya Vidyalaya Malleshwaram,
                        <i> Bangalore, India</i></p>
                </section>
                <section>
                    <h2>Class X, Central Board Of Secondary Education (CBSE), India </h2>
                    <time>April 2008</time>
                    <p>Kendriya Vidyalaya Malleshwaram,
                        <i>Bangalore, India	</i></p>
                </section>

                </section>
                <div class="clear"></div>
            </div>
            </div>

            <h3 class="accordion" ng-class="{active:$scope.accordion==2}" ng-click="toggleAccordion(2)">
                <img src="../../assets/images/icon/Under Computer-52 (1).png" >Work Experience<i name="accordion2" class="pull-right glyphicon glyphicon-chevron-right" ></i>
            </h3>
            <div class="accordion-content " ng-show="accordion==2"><div class="new_post ">
                <section>
                    <h2>Service Information Developer &mdash; Mobility Department</h2>
                    <time>September 2014 –Present</time>
                    <p><i>Hewlett Packard Enterprise</i></p>
                </section>

                <div class="clear"></div>
            </div>
            </div>

            <h3 class="accordion" ng-class="{active:$scope.accordion==3}" ng-click="toggleAccordion(3)">
                <img src="../../assets/images/icon/Literature-50.png" >Research Interests<i name="accordion3" class="pull-right glyphicon glyphicon-chevron-right" ></i>
            </h3>
            <div class="accordion-content " ng-show="accordion==3"><div class="new_post ">
                <section>
                    <p>
                    <ul style="margin-left: 20px;">
                        <li>Human Computer Interaction</li>
                        <li>Artificial Intelligence</li>
                        <li>Database Management Systems</li>
                        <li>Data Mining</li>
                    </ul>
                    </p>
                </section>

                <div class="clear"></div>
            </div>
            </div>

            <h3 class="accordion" ng-class="{active:$scope.accordion==4}" ng-click="toggleAccordion(4)">
                <img src="../../assets/images/icon/Diploma 2-52 (1).png" >Certifications<i name="accordion4" class="pull-right glyphicon glyphicon-chevron-right" ></i>
            </h3>
            <div class="accordion-content " ng-show="accordion==4"><div class="new_post ">
                <section>
                    <h2>Kony Certification (Kony)</h2>
                    <time>Oct 2015-Present</time>
                    <p><i>Currently Undertaking training and certification in Kony Application Development</i></p>
                </section>
                <section>
                    <h2>Ethical Hacking</h2>
                    <time>Nov 2012 – Nov 2013</time>
                    <p><i>Completed certified Ethical Hacking (level 1 and level 2) workshop at SVCE</i></p>
                </section>

                <div class="clear"></div>
            </div>
            </div>

            <h3 class="accordion" ng-class="{active:$scope.accordion==5}" ng-click="toggleAccordion(5)">
                <img src="../../assets/images/icon/Code-52.png" >Technical Skills<i name="accordion5" class="pull-right glyphicon glyphicon-chevron-right" ></i>
            </h3>
            <div class="accordion-content " ng-show="accordion==5"><div class="new_post ">
                <section>
                    <p>
                    <ul style="margin-left: 20px;">
                        <li>AngularJS</li>
                        <li>C</li>
                        <li>C++</li>
                        <li>Android</li>
                        <li>DBMS</li>
                        <li>Java</li>
                        <li>HTML</li>
                        <li>Kony</li>
                    </ul>
                    </p>
                </section>

                <div class="clear"></div>
            </div>
            </div>

            <h3 class="accordion" ng-class="{active:$scope.accordion==6}" ng-click="toggleAccordion(6)">
                <img src="../../assets/images/icon/Operating System-64 (1).png" >Operating Systems<i name="accordion6" class="pull-right glyphicon glyphicon-chevron-right" ></i>
            </h3>
            <div class="accordion-content " ng-show="accordion==6"><div class="new_post ">
                <section>
                    <p>
                    <ul style="margin-left: 20px;">
                        <li>Windows</li>
                        <li>Linux</li>
                        <li>UNIX</li>
                        <li>Mac OS</li>
                    </ul>
                    </p>
                </section>

                <div class="clear"></div>
            </div>
            </div>

            <h3 class="accordion" ng-class="{active:$scope.accordion==7}" ng-click="toggleAccordion(7)">
                <img src="../../assets/images/icon/Administrator Filled-50.png" >Position of Responsibilities<i name="accordion7" class="pull-right glyphicon glyphicon-chevron-right" ></i>
            </h3>
            <div class="accordion-content " ng-show="accordion==7"><div class="new_post ">
                <section>
                    <h2>Head Coordinator (under the patronage of Prof. Uday Ravi and Prof. Ramani Krishnan)</h2>
                    <time>February 2014 </time>
                    <p>Head Coordinator of KALAAVAIBHAVA’14.,
                        <i>–Annual college fest</i></p>
                </section>
                <section>
                    <h2>School Pupil Leader of Kendriya Vidyalaya Malleswaram.</h2>
                    <time>April 2009- March 2010</time>
                    <p>Was the head boy during secondary education and was responsible for discipline and organizing events in school.</p>
                </section>
                <section>
                    <h2>Head Coordinator (Prof. Dr. Natarajan) </h2>
                    <time>Feb 2012-July 2013</time>
                    <p>Headed the magazine committee in 2012 and 2013 and led the team into successful publication of Annual College Magazine AURORA-12, 13.</p>
                </section>

                <div class="clear"></div>
            </div>
            </div>


            <h3 class="accordion" ng-class="{active:$scope.accordion==8}" ng-click="toggleAccordion(8)">
                <img src="../../assets/images/icon/Diploma 2-64 (1).png" >Technical Achievements<i name="accordion8" class="pull-right glyphicon glyphicon-chevron-right" ></i>
            </h3>
            <div class="accordion-content " ng-show="accordion==8"><div class="new_post ">
                <section>
                    <p>
                    <ul style="margin-left: 20px;">
                        <li>Presented a paper called “3D printing: Model Optimization and Image Compensation” during the Intra college Technical fest UDYUKTA and also as a part of academic seminar presentation in the month of May 2014.</li><br>
                        <li>Presented a paper called “Data Integration of Cryptocurrency” as a part of the academic seminar presentation, in the month of May 2014. </li>
                    </ul>
                    <p>
                </section>

                <div class="clear"></div>
            </div>
            </div>

        </div>
    </div>

    <div id="oneCV" class="accordionContainer" ng-show="!showAccordion">
        <section id="education" >
            <h3>Education</h3>
            <section>
                <h2>Bachelor of Engineering in Computer Science & Engineering</h2>
                <time>July 2010 –May 2014</time>
                <p>Sri Venkateshwara College of Engineering,
                    <i>Visvesvaraya Technological University, India
                    </i></p>
                <p>
                <ul style="margin-left: 20px;">
                    <li>Core Subjects aggregate percentage: 74.69% (top 5 percentile)</li>
                    <li>Cumulative Aggregate percentage: 73.57%</li>
                </ul>
                </p>
            </section>
            <section>
                <h2>Class XII, Central Board Of Secondary Education (CBSE), India	</h2>
                <time>April 2010</time>
                <p>Kendriya Vidyalaya Malleshwaram,
                    <i> Bangalore, India</i></p>
            </section>
            <section>
                <h2>Class X, Central Board Of Secondary Education (CBSE), India </h2>
                <time>April 2008</time>
                <p>Kendriya Vidyalaya Malleshwaram,
                    <i>Bangalore, India	</i></p>
            </section>

        </section>
        <section id="experience" >
            <h3>Work Experience</h3>
            <section>
                <h2>Service Info Developer in the Mobility Department</h2>
                <time>September 2014 –Present</time>
                <p><i>Hewlett Packard Enterprise</i></p>
            </section>
        </section>
        <section id="researchInterests" >
            <h3>Research Interests</h3>
            <section>
                <p>
                <ul style="margin-left: 20px;">
                    <li>Human Computer Interaction</li>
                    <li>Artificial Intelligence</li>
                    <li>Database Management Systems</li>
                    <li>Data Mining</li>
                </ul>
                </p>
            </section>
        </section>
        <section id="certifications">
            <h3>Certifications</h3>
            <section>
                <h2>Kony Certification (Kony)</h2>
                <time>Oct 2015-Present</time>
                <p><i>Currently Undertaking training and certification in Kony Application Development</i></p>
            </section>
            <section>
                <h2>Ethical Hacking</h2>
                <time>Nov 2012 – Nov 2013</time>
                <p><i>Completed certified Ethical Hacking (level 1 and level 2) workshop at SVCE</i></p>
            </section>
        </section>
        <section id="skills">
            <h3>Technical Skills & Programming Languages</h3>
            <section>
                <p>
                <ul style="margin-left: 20px;">
                    <li>AngularJS</li>
                    <li>C</li>
                    <li>C++</li>
                    <li>Android</li>
                    <li>DBMS</li>
                    <li>Java</li>
                    <li>HTML</li>
                    <li>Kony</li>
                </ul>
                </p>
            </section>
        </section>
        <section id="operatingSystems">
            <h3>Operating Systems</h3>
            <section>
                <p>
                <ul style="margin-left: 20px;">
                    <li>Windows</li>
                    <li>Linux</li>
                    <li>UNIX</li>
                    <li>Mac OS</li>
                </ul>
                </p>
            </section>
        </section>
        <section id="positionOfResponsibility">
            <h3>Position Of Responsibility</h3>
            <section>
                <h2>Head Coordinator (under the patronage of Prof. Uday Ravi and Prof. Ramani Krishnan)</h2>
                <time>February 2014 </time>
                <p>Head Coordinator of KALAAVAIBHAVA’14.,
                    <i>–Annual college fest</i></p>
            </section>
            <section>
                <h2>School Pupil Leader of Kendriya Vidyalaya Malleswaram.</h2>
                <time>April 2009- March 2010</time>
                <p>Was the head boy during secondary education and was responsible for discipline and organizing events in school.</p>
            </section>
            <section>
                <h2>Head Coordinator (Prof. Dr. Natarajan) </h2>
                <time>Feb 2012-July 2013</time>
                <p>Headed the magazine committee in 2012 and 2013 and led the team into successful publication of Annual College Magazine AURORA-12, 13.</p>
            </section>
        </section>
        Presented a paper called “3D printing: Model Optimization and Image Compensation” during the Intra college Technical fest UDYUKTA and also as a part of academic seminar presentation in the month of May 2014.
        <section id="technicalAchievements">
            <h3>Technical Achievements</h3>
            <section>
                <p>
                <ul style="margin-left: 20px;">
                    <li>Presented a paper called “3D printing: Model Optimization and Image Compensation” during the Intra college Technical fest UDYUKTA and also as a part of academic seminar presentation in the month of May 2014.</li><br>
                    <li>Presented a paper called “Data Integration of Cryptocurrency” as a part of the academic seminar presentation, in the month of May 2014. </li>
                </ul>
                <p>
            </section>
        </section>
    </div>
</div>
</div>