<div id="main" class="col-md-12" style="font-family: 'Raleway', sans-serif">
    <div id="CV" >

        <div class="heading resumeHeading">

            <h3>My Resume</h3>
        </div>
        <!--<h3><a href="assets/Resume.pdf" target="_blank"><button style="float: left"><img height="30px" width="30px" src="../../assets/images/icon/pdfIcon.png">Open PDF</button></a>-->
        <!--<button ng-show="!showAccordion" ng-click="showAccordion=!showAccordion">&mdash; Hide all</button>-->
        <!--<button ng-show="showAccordion" ng-click="showAccordion=!showAccordion">&#43; Show all</button></h3>-->


        <div style="text-align: center;">
            <object id="cv_object" data="assets/Resume.pdf" type="application/pdf" width="80%" height="1200px">
                <iframe src="assets/Resume.pdf" width="100%" height="100%" style="border: none;">
                    This browser does not support PDFs. Please download the PDF to view it: <a href="assets/Resume.pdf">Download PDF</a>
                </iframe>
            </object>
        </div>


        <!--<div id="oneCV" class="accordionContainer">-->
        <!--<section id="education" >-->
        <!--<h3>Education</h3>-->
        <!--<section>-->
        <!--<h2>Master of Science in Computer Science</h2>-->
        <!--<p>Northeastern University,-->
        <!--<i>Boston, Massachusetts-->
        <!--</i></p>-->
        <!--<p>-->
        <!--<ul style="margin-left: 20px;">-->
        <!--<li>GPA - 3.83/4.0</li>-->
        <!--</ul>-->
        <!--</p>-->
        <!--</section>-->
        <!--<section>-->
        <!--<h2>Bachelor of Engineering in Computer Science & Engineering </h2>-->
        <!--<p>Sri Venkateshwara College of Engineering,-->
        <!--<i>Visvesvaraya Technological University, India-->
        <!--</i></p>-->
        <!--<p>-->
        <!--<ul style="margin-left: 20px;">-->
        <!--<li>GPA - 3.5/4.0</li>-->
        <!--</ul>-->
        <!--</p>-->
        <!--</section>-->

        <!--</section>-->
        <!--<section id="experience" >-->
        <!--<h3>Work Experience</h3>-->
        <!--<section>-->
        <!--<h2>Monster Worldwide, Weston, MA</h2>-->
        <!--<p><i>Software Engineering Intern</i></p>-->
        <!--<time>June 2018 – August 2018</time>-->
        <!--</section>-->
        <!--<section>-->
        <!--<h2>Hewlett Packard Enterprise, Bangalore, India</h2>-->
        <!--<p><i>Service Information Developer &mdash; Mobility Department</i></p>-->
        <!--<time>September 2014 – August 2017</time>-->
        <!--</section>-->
        <!--</section>-->
        <!--<section id="skills">-->
        <!--<h3>Technical Skills & Programming Languages</h3>-->
        <!--<section>-->
        <!--<p>-->
        <!--<ul style="margin-left: 20px;">-->
        <!--<li>AngularJS/2+</li>-->
        <!--<li>C</li>-->
        <!--<li>C++</li>-->
        <!--<li>JavaScript</li>-->
        <!--<li>D3JS</li>-->
        <!--<li>HTML5</li>-->
        <!--<li>CSS3</li>-->
        <!--<li>Android</li>-->
        <!--<li>DBMS</li>-->
        <!--<li>Java</li>-->
        <!--</ul>-->
        <!--</p>-->
        <!--</section>-->
        <!--</section>-->
        <!--</div>-->
    </div>
</div>